fastapi
uvicorn
python-multipart
opencv-python-headless
mediapipe==0.10.14
tensorflow==2.13.1
numpy==1.24.3
librosa
scikit-learn
transformers
speechrecognition
pillow
protobuf==4.25.3
supabase
python-jose[cryptography]
passlib